<%- include("header") -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <h1 class="h2 mb-0 text-gray-800">Buy Cell Phone:</h1>
          <br>
          <div class="row">
            <div class="col-sm-3">

              <div class="list-group">
                <% for(var i=0; i<cellphones.length; i++){ %>
                <%  if (cellphones[i].in_stock === "true") { %>
                    <a href="#" class="list-group-item list-group-item-action phone<%=i%>">
                      <span class="h4"><%= cellphones[i].id %></span> <br>
                      <%= cellphones[i].description %>
                    </a>
                <%  } else { %>
                    <a href="#" class="list-group-item list-group-item-action disabled">
                      <span class="h4"><%= cellphones[i].id %></span> <br>
                      <%= cellphones[i].description %>
                      <span class="badge badge-danger float-right">Out of stock</span>
                    </a>
                <%  } %>
                <% } %>


              </div>

            </div>


            <div class="col-sm-6">
              <h1 class="h3 mb-0 text-gray-800">Select model:</h1>
              <br>

              <% for (var i=0; i<cellphones.length; i++){ %>

                <div class="row">

                <%  for (var j=0; j<cellphones[i].models.length; j++){ %>
                    <div class="col-sm-4 models<%=i%>">
                      <div class="card model<%=j%>" style="width: 12rem;">
                        <div class="card-body">
                          <h5 class="card-title"><%= cellphones[i].models[j].type %></h5>
                          <p class="card-text"><%= cellphones[i].models[j].text %></p>
                          <h6 class="card-subtitle mb-2"><%= cellphones[i].models[j].price %></h6>
                        </div>
                      </div>
                    </div>
                <%  } %>
                </div>
            <%  } %>

              <br>
              <br>
              <h1 class="h3 mb-0 text-gray-800">Pay with Visa/MasterCard:</h1>
              <br>
              <div class="row" style="width: 25rem;">
                <div class="col card credit">
                  <form class="" style="padding: 5px;" action="buyCellphone" method="post">
                    <div class="form-group">
                      <label>Card Number:</label>
                      <input style="width: 18rem;" name="card_number" type="text" placeholder="Your credit card number">

                    </div>
                    <div class="form-group">
                      <label>Cardholder Name:</label>
                      <input style="width: 18rem;" name="card_name" type="text" placeholder="Your name">

                    </div>
                    <div class="form-group">
                      <label>Expiration date:</label>
                      <input style="width: 3rem;" name="card_month" type="text" placeholder="MM">
                      <span>/</span>
                      <input style="width: 3rem;" name="card_year" type="text" placeholder="YY">

                    </div>
                    <div class="form-group">
                      <label>CVV:</label>
                      <input style="width: 3rem;" name="card_cvv" type="text" placeholder="CVV">
                    </div>
                    <input class="input-phone" type="hidden" name="phone" value="">
                    <input class="input-model" type="hidden" name="model" value="">
                    <input type="hidden" name="user" value="Valerie Luna">
                    <input type="submit" class="btn btn-primary" value="Submit Payment">
                  </form>
                </div>

              </div>
            </div>
          </div>






        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


<%- include("footer") -%>
